<% your_action = params['action'] %>
<% computer_action = ['paper', 'scissors', 'rock'].sample %>

<h1><%= "You chose #{your_action}" %></h1>
<h1><%= "Computer chose #{computer_action}" %></h1>
<h1><%= GameDecider.result(your_action, computer_action) %></h1>


<h4>Play again?</h4>
<a href='/paper'>Paper</a>
<a href='/scissors'>Scissors</a>
<a href='/rock'>Rock</a>
